guessImports = false
modules = ["nodejs-20", "python-3.11", "python-3.12", "web"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["xcodebuild", "zlib"]

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Project"
mode = "sequential"
author = 34518249

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python seed_sources.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Start"
mode = "sequential"
author = 34518249

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Project"

[[workflows.workflow]]
name = "Borrar archivos antes de subir a GITHUB"
mode = "sequential"
author = 34518249

[[workflows.workflow.tasks]]
task = "shell.exec"
args = 'find . \( -type d -name "__pycache__" -o -name "*.db" \) -exec rm -rf {} +'

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "app:app"]
